$primary_normal:#06121E;
$primary_dark:#040f1a;
$primary_light:#0c2135;

$secondary_normal:#090d11;
$secondary_dark: #06090c;
$secondary_light:#1a1f25;

$black_normal:#232224;
$black_dark:#161617;
$black_light:#353436;

$white_normal:#fff;
$white_dark:#edeaef;
$white_light:#fefbff;

$red_normal:#d94140;
$red_dark:#b42b2b;
$red_light:#d34040;